<footer>

  <!-- <p>
    <a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-whatsapp"></a>
    <a href="#" class="fa fa-instagram"></a>
    <a href="#" class="fa fa-twitter"></a>
  </p> -->

  <br>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <div style="color:#ffffff;" class="wow fadeInUp footer-copyright">
          <p>
            &copy; 2021 - Developed By Sumit Kumar </p>
        </div>
      </div>
    </div>
  </div>
</footer>

