<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>SMS - Django</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <link rel="stylesheet" href="{% static 'sms/css/adminstyle.css' %}">


</head>

<body>

  <input type="checkbox" id="check">
  <!--header area start-->
  <header>
    <label for="check">
      <i class="fas fa-bars" id="sidebar_btn"></i>
    </label>
    <div class="left_area">
      <h3>SMS - Admin</h3>
    </div>
    <div class="right_area">
      <a href="{% url 'logout' %}" class="logout_btn">Logout</a>
    </div>
  </header>
  <!--header area end-->
  <!--sidebar start-->
  <div class="sidebar">
    <center>

      <img src="{% static 'sms/images/admin.png' %}" class="profile_image" alt="">
      <h4> {{request.user.username}}</h4>

    </center>

    <a href="{% url 'admin-dashboard' %}"><i class="fas fa-desktop"></i><span>Dashboard</span></a>
    <a href="{% url 'admin-school' %}"><i class="fas fa-chalkboard-teacher"></i><span>School</span></a>
    <a href="#"><i class="fas fa-user-graduate"></i><span>Department</span></a>



  </div>
  <!--sidebar end-->


  <!--content start-->
  <div class="content">
    <br><br><br><br><br>
    {% block content %}

    {% endblock content %}


    <br><br><br>
    {% comment %} {% include "school/footer.html" %} {% endcomment %}
  </div>
  <!--content end-->

</body>

</html>
