{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="pagetitle">
    <h1>Add Department</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Add Department</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add Department Form</h5>
                <form class="row g-3" method="post" autocomplete="off" novalidate>
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Department Admin Name (HOD)</label>
                        {% render_field form.name class="form-control" id="name"%}
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Department Name</label>
                        {% render_field department_form.department_name class="form-control" id="department_name"%}
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail5" class="form-label">Email</label>
                        {% render_field form.email class="form-control" id="email"%}
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail5" class="form-label">Username</label>
                        {% render_field form.username class="form-control" id="username"%}
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail5" class="form-label">Mobile</label>
                        {% render_field form.mobile class="form-control" id="mobile"%}
                    </div>
                    <div class="col-12">
                        <label for="inputAddress5" class="form-label">Address</label>
                        {% render_field form.address class="form-control" id="address" rows="3" placeholder="1234 Main St"%}
                    </div>

                    {% comment %} <div class="col-md-7">
                        <label for="inputCity" class="form-label">City</label>
                        {% render_field form.state class="form-control" id="state" placeholder="State"%}
                    </div> {% endcomment %}
                    
                    <div class="col-md-6">
                        <label for="inputPassword5" class="form-label">Password</label>
                        {% render_field form.password class="form-control" type="password" placeholder="Password" %}
                    </div>

                    <div class="col-md-6">
                        <label for="inputPassword5" class="form-label">Confirm Password</label>
                        {% render_field form.confirm_password class="form-control" type="password" placeholder="Confirm Password" %}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}