{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="pagetitle">
    <h1>Change Password</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url "deptDashboard" %}">Home</a></li>
            <li class="breadcrumb-item active">Change Password</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Change Password Form</h5>
                <form class="row g-3" method="post" autocomplete="off" novalidate>
                    {% csrf_token %}

                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Old Password</label>
                        <input type="password" name="old_password" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">New Password</label>
                        <input type="password" name="new_password1" class="form-control" id="inputName5">
                    </div>

                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Confirm Password</label>
                        <input type="password" name="new_password2" class="form-control" id="inputName5">
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}