{% extends "base.html" %}

{% block content %}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="index.html">Dashboard</a></li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
            <a href="{% url "admin-view-AllSchools" %}" class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                    <div class="filter">
                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Schools <span>| All Schools</span></h5>
                        <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                class="bi bi-house-door-fill"></i></div>
                        <div class="ps-3">
                            <h6>{{schoolcount}}</h6>
                        </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-xxl-4 col-xl-6">
                <div class="card info-card customers-card">
                    <div class="filter"></div>
                    <div class="card-body">
                        <h5 class="card-title">Students <span>| All Students</span></h5>
                        <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                class="bi bi-people"></i></div>
                        <div class="ps-3">
                            <h6>{{allstudent}}</h6>
                        </div>
                        </div>
                    </div>
                </div>
            </a>


            </div>
        </div>
        <div class="col-lg-4">
            <div class="card">
            <div class="filter">
                <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                        <h6>Filter</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                </ul>
            </div>
            <div class="card-body pb-0">
                <h5 class="card-title">News &amp; Updates <span>| Today</span></h5>
                <div class="news">
                    <div class="post-item clearfix">
                        <img src="assets/img/news-1.jpg" alt="">
                        <h4><a href="#">Nihil blanditiis at in nihil autem</a></h4>
                        <p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
                    </div>
                    <div class="post-item clearfix">
                        <img src="assets/img/news-2.jpg" alt="">
                        <h4><a href="#">Quidem autem et impedit</a></h4>
                        <p>Illo nemo neque maiores vitae officiis cum eum turos elan dries werona nande...</p>
                    </div>
                    <div class="post-item clearfix">
                        <img src="assets/img/news-3.jpg" alt="">
                        <h4><a href="#">Id quia et et ut maxime similique occaecati ut</a></h4>
                        <p>Fugiat voluptas vero eaque accusantium eos. Consequuntur sed ipsam et totam...</p>
                    </div>
                    <div class="post-item clearfix">
                        <img src="assets/img/news-4.jpg" alt="">
                        <h4><a href="#">Laborum corporis quo dara net para</a></h4>
                        <p>Qui enim quia optio. Eligendi aut asperiores enim repellendusvel rerum cuder...</p>
                    </div>
                    <div class="post-item clearfix">
                        <img src="assets/img/news-5.jpg" alt="">
                        <h4><a href="#">Et dolores corrupti quae illo quod dolor</a></h4>
                        <p>Odit ut eveniet modi reiciendis. Atque cupiditate libero beatae dignissimos eius...</p>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock content %}