{% extends "base.html" %}

{% block content %}

<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="index.html">Dashboard</a></li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
            <a href="{% url "admin-view-AllSchools" %}" class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                    <div class="filter">
                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Schools <span>| All Schools</span></h5>
                        <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                class="bi bi-house-door-fill"></i></div>
                        <div class="ps-3">
                            <h6>{{schoolcount}}</h6>
                        </div>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="col-xxl-4 col-xl-6">
                <div class="card info-card customers-card">
                    <div class="filter"></div>
                    <div class="card-body">
                        <h5 class="card-title">Students <span>| All Students</span></h5>
                        <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                class="bi bi-people"></i></div>
                        <div class="ps-3">
                            <h6>{{allstudent}}</h6>
                        </div>
                        </div>
                    </div>
                </div>
            </a>


            </div>
        </div>
    </div>
</section>

{% endblock content %}