{% extends "base.html" %}

{% block content %}

<div class="pagetitle">
    <h1>{{ department }} Dashboard</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item active"><a href="{% url "deptDashboard" %}">Dashboard</a></li>
        </ol>
    </nav>
</div>
<section class="section dashboard">
    <div class="row">
        <div class="col-lg-8">
            <div class="row">
            <a href="{% url "departmentview-allStudents" %}" class="col-xxl-4 col-md-6">
                <div class="card info-card sales-card">
                    <div class="filter">
                        
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">Students <span>| All Students</span></h5>
                        <div class="d-flex align-items-center">
                        <div class="card-icon rounded-circle d-flex align-items-center justify-content-center"> <i
                                class="bi bi-house-door-fill"></i></div>
                        <div class="ps-3">
                            <h6>{{schoolcount}}</h6>
                        </div>
                        </div>
                    </div>
                </div>
            </a>
            
            </div>
        </div>


            
        <div class="col-lg-12">
            <div class="card recent-sales overflow-auto">
                <div class="card-body">
                    <h5 class="card-title">Recently added Student(s)</h5>
                    <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Matric No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Mobile</th>
                            <th scope="col">Account No</th>
                            <th scope="col">Bank Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <th scope="row"><a href="#">{{ student.matric_no }}</a></th>
                            <td>{{student.fname}} {{student.lname}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.mobile}}</td>
                            <td>{{student.account_number}}</td>
                            <td>{{student.bank_name}}</td>
                            <td><span class="badge bg-success">Approved</span></td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</section>

{% endblock content %}