{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}

<div class="pagetitle">
    <h1>Add School</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item active">Add School</li>
        </ol>
    </nav>
</div>
<section class="section">
    <div class="row">
        <div class="col-lg-10">
            <div class="card">
            <div class="card-body">
                <h5 class="card-title">Add School Form</h5>
                <form class="row g-3" method="post" autocomplete="off" novalidate>
                    {% csrf_token %}
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">Admin Name</label>
                        {% render_field form.name class="form-control" id="name"%}
                    </div>
                    <div class="col-md-12">
                        <label for="inputName5" class="form-label">School Name</label>
                        {% render_field school_form.school_name class="form-control" id="name"%}
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail5" class="form-label">Email</label>
                        {% render_field form.email class="form-control" id="email"%}
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail5" class="form-label">Username</label>
                        {% render_field form.username class="form-control" id="username"%}
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail5" class="form-label">Mobile</label>
                        {% render_field school_form.mobile class="form-control" id="mobile"%}
                    </div>
                    <div class="col-md-12">
                        <label for="inputEmail5" class="form-label">Address</label>
                        {% render_field school_form.Address rows="3" class="form-control" id="mobile"%}
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <button type="reset" class="btn btn-secondary">Reset</button>
                    </div>
                </form>
            </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}