{% extends "base.html" %}

{% block content %}

<div class="pagetitle">
   <h1>All Students</h1>
   <nav>
       <ol class="breadcrumb">
           <li class="breadcrumb-item"><a href="{% url 'adminDashboard' %}">Home</a></li>
           <li class="breadcrumb-item active">All Students</li>
       </ol>
   </nav>
</div>

<section class="section">
    <div class="row">
       <div class="col-lg-12">
          <div class="card">
             <div class="card-body">
                <h5 class="card-title">All Student(s)</h5>
                <form method='POST'>
                    {% csrf_token %}
                    <table class="table datatable">
                    <thead>
                        <tr>
                            <th scope="col">S/N</th>
                            <th scope="col">Matric No</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">School</th>
                            <th scope="col">Account No</th>
                            <th scope="col">Bank</th>
                            <th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for student in students %}
                            <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{student.matric_no}}</td>
                            <td>{{student.fname}} {{student.lname}}</td>
                            <td>{{student.email}}</td>
                            <td>{{student.school.school_name}}</td>
                            <td>{{student.account_number}}
                            <td>{{student.bank_name}}</td>
                            <td>
                                <input class="form-check-input" value="{{student.id}}" name="payment" type="checkbox">                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Payment Options</h5>
                                <a href="{% url 'send-paymentconfirmation' %}" class="btn btn-outline-primary">Pay all Students</a>
                                <button type="submit" class="btn btn-outline-success">Pay Selected Student(s)</button>
                            </div>
                        </div>
                    </div>
                </form>
             </div>
          </div>
       </div>
    </div>
 </section>

 {% endblock %}