<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
		<h4>Dear <span style = "text-transform:capitalize;">{{full_name}}</span>,</h4>

		<p>{{message|safe|linebreaksbr}}</p>
        <p>Kind Regards</P>
        <p>SMS Coding School</P>

        <p>----------------------------------------------------------------------------------------------------------------</P>

		<p><i>Disclaimer: This communication including all its content is 
            confidential and privileged and is directed to and for the use of the 
            addressee(s) only and may contain confidential and/or privileged information 
            and may be legally protected from disclosure. The recipient if not the addressee(s) 
            should not use this message if erroneously received, and access and use of this e-mail 
            in any manner by anyone other than the addressee(s) is unauthorised and strictly 
            prohibited.</i></small></p>
</body>
</html>